.main-menu {
	position: relative;
	h2 {
		&:before {
			content: '';
			background: url(../images/pattern-left.png) no-repeat;
			background-size: cover;
			position: absolute;
			top: 5px;
			left: 35%;
			width: 36px; 
			height: 36px;
		}
		&:after {
			content: '';
			background: url(../images/pattern-right.png) no-repeat;
			background-size: cover;
			position: absolute;
			top: 5px;
			right: 35%;
			width: 36px; 
			height: 36px;
		}
	}
}
.menu-wrap {
	padding: 0 120px;
    background: url(../img/book-menu.jpg) no-repeat;
    /* background-size: contain; */
    background-position: 50% 0%;
    margin-top: 18px;
}
.first-meal {
	float: left;
	width: 50%;
	margin-top: 23px;
	position: relative;
	h3 {
		text-align: center; 
		&:before {
			content: '';
			background: url(../images/first-meal.png) no-repeat;
			background-size: cover;
			position: absolute;
			top: 0px;
			width: 52px; 
			height: 36px;
			left: 22%;
		}
	}
}
.first-menu {
	padding-left: 80px;
}
.item {
	padding-top: 25px;
	&:last-child {
		padding-bottom: 80px;
	}
	p {
		font-family: $font-base;
		font-size: $fontSize-small;
		color: $wine-colored;
		font-weight: bold;
		text-align: left;
		margin: 0;
		span {
			font-family: $font-header;
			font-size: $fontSize-base;
			color: $brown;
			float: right;
			text-align: right;
			padding-right: 60px;
		}
	}
}
.second-meal {
	float: right;
	width: 50%;
	margin-top: 23px;
	position: relative;
	h3 {
		text-align: center; 
		&:before {
			content: '';
			background: url(../images/second-meal.png) no-repeat;
			background-size: cover;
			position: absolute;
			top: 0px;
			width: 49px; 
			height: 36px;
			left: 22%;
		}
	}
}
.second-menu {
	padding-left: 55px;
}