//Colours should always only appear in this colours.scss

$white: 		#fff;
$yellow:	   	#ffd20a;	
$black:  		#000;
$grey:	 		#605855;
$brown:         #4e302f;
$reserve:       #3e2d25;
$red-grey:		#745b5a;
$dark-red:		#e03951;
$wine-colored:  #b7022c;
$more-text:		#c04057;
$service-arrow: #978686;
$footer-menu:   #694b3a;
$footer-logo:   #442a29;
$footer-contact:#e9445d;
